.Hero-image {
    width: 100%;
    height: 807px;
    background-image: url(/public/playground_assets/Heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Up-header {
    height: 31px;
    left: 110px;
    top: 38px;
    background-position: center center;
}

body{
    overflow: hidden;
}